@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.money.plus {
    color: #2ecc71;
  }
  
  .money.minus {
    color: #c0392b;
  }

.list li.plus {
    border-right: 8px solid #2ecc71;
  }
  
  .list li.minus {
    border-right: 8px solid #c0392b;
  }
  
  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .list li:hover .delete-btn {
    opacity: 1;
  } 

  .btn:focus,
  .delete-btn:focus {
    outline: 0;
  }